<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:ng="http://angularjs.org" id="ng-app">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="ms.page.title"></title>
    <meta ng-repeat="meta in ms.page.data.meta_tags" name="{{meta.name}}" content="{{meta.content}}">
    <meta ng-repeat="og in ms.page.data.og_tags" property="{{og.property}}" content="{{og.content}}">
    <meta charset="utf-8">
    <script src='cordova.js'></script>
    <script>
        MYSTORE_MODULES = ['ms-mobile-header'];
    </script>

    <script>!window.jQuery && document.write(unescape('%3Cscript src="http://cdn2.storehippo.com/global/assets/jquery-1.8.3.min.js"%3E%3C/script%3E'))</script>
    <base href="/"/>
    <script src="http://cdn2.storehippo.com/global/assets/angular-1.2.9.min.js"></script>
    <script src="http://cdn2.storehippo.com/global/assets/angular-route-1.2.9.min.js"></script>
    <script src="http://cdn2.storehippo.com/global/assets/angular-animate-1.2.9.min.js"></script>
    <script src="http://cdn2.storehippo.com/global/assets/angular-sanitize-1.2.9.min.js"></script>
    <script src="http://cdn2.storehippo.com/global/assets/angular-ui-router-0.0.1.min.js"></script>
    <script src="http://cdn2.storehippo.com/global/assets/require-2.1.8.min.js"></script>
    <script src="http://cdn2.storehippo.com/global/assets/angular-translate.min.js"></script>
    <script src="http://bigfaida.storehippo.com/ms/store/bigfaida/storeinfo.js"></script>
    <script src="http://bigfaida.storehippo.com/ms/store/bigfaida/themeinfo.js"></script>
    <script src="http://bigfaida.storehippo.com/ms/store/bigfaida/messagesinfo.js"></script>
    <script src="http://bigfaida.storehippo.com/js/mystore.js"></script>
    <link href="http://bigfaida.storehippo.com/css/mystore.css" rel="stylesheet" media="screen">
    <script src="http://bigfaida.storehippo.com/preferences/info.js"></script>

    <link rel="shortcut icon"
          href="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/favicon.ico"
          type="image/x-icon"/>
    <link href="http://cdn2.storehippo.com/global/assets/font-awesome-3.2.1.min.css" rel="stylesheet" media="screen">
    <script src="http://cdn2.storehippo.com/global/assets/msMagicZoom.js"></script>
    <script src="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/rvpoints.js"></script>

    <link href="http://cdn2.storehippo.com/global/assets/custom.css" rel="stylesheet" media="screen">
    <link href="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/colorbox.css"
          rel="stylesheet" media="screen">
    <link href="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/ms-custom.css"
          rel="stylesheet" media="screen">
    <script type="text/javascript"
            src="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/ng-mobile-menu.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/app.js"></script>


    <link rel="stylesheet" media="screen" id="msVariantFile1"
          href="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/52ecefcd67b35b576c000001.less.css"/>
    <link id="customCss" type="text/css" id="msVariantFile" media="screen"
          href="http://cdn2.storehippo.com/s/53b4f11c333f5cbb76048d53/ms.local_themes/5305dc45525cc89e10000001/custom.css"/>
</head>
<body ng-cloak>

<div ms-view></div>

</body>
</html>
